<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h2>Edit Chapter</h2>

<th:block th:unless="${chapter}">
    <p>The Chapter you are trying to edit does not exist</p>
</th:block>
<th:block th:if="${chapter}">
    <form method="post" th:action="@{/chapters/edit}">
        <div class="form-group">
            <label class="chapter-number">Chapter Number
                <input type="number" name="chapterNumber" class="form-control" th:value="${chapter.chapterNumber}">
            </label>
            <span th:errors="${chapter.chapterNumber}" class="error"></span>
        </div>
        <div class="form-group">
            <label>Name
                <input type="text" name="name" class="form-control" th:value="${chapter.name}">
            </label>
            <span th:errors="${chapter.name}" class="error"></span>
        </div>
        <input type="hidden" th:value="${chapterId}" name="chapterId" />
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success">
        </div>
    </form>
</th:block>
<p></p>
<div>
    <a th:href="@{/books/view/{id}(id=${chapter.book.id})}">
        <input type="submit" th:value="${'Back to ' + chapter.book.title}" class="btn btn-dark">
    </a>
</div>
</body>
</html>