<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container var-container body-content">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home'}"></a></span>
    <span>/ <a th:href="@{/novels/view/{id}(id=${chapter.story.novel.id})}" th:text="${chapter.story.novel.title}"></a></span>
    <span>/ <a th:href="@{/stories/view/{id}(id=${chapter.story.id})}" th:text="${chapter.story.name}"></a></span>
    <span th:text="${'/ Chapter ' + chapter.chapterNumber}"></span>
</div>

<h3 th:text="${'Chapter ' + chapter.chapterNumber}">Default Title</h3>

<div>
    <h6 th:if="${chapter.name != ''}" th:text="${'Name: ' + chapter.name}"></h6>
    <h6 th:text="${'Story: ' + chapter.story.name}"></h6>
    <h5 th:text="${'Novel: ' + chapter.story.novel.title}"></h5>
</div>
<p></p>

<h4 th:unless="${chapter.pages} and ${chapter.pages.size()}" th:text="${'No Pages'}"></h4>
<h4 class="page-underline" th:if="${chapter.pages} and ${chapter.pages.size()}" th:text="${'Pages'}"></h4>
<div>
    <ul>
        <li th:each="page : ${chapter.pages}">
            <a th:href="@{'/pages/storyChapterPageView/' + ${page.id}}" th:text="${'Page ' + page.pageNumber}"></a>
        </li>
    </ul>
</div>

<div>
    <span class="view-span">
        <a th:href="@{/chapters/storyChapterEdit/{id}(id=${chapter.id})}">
            <input type="submit" value="Edit Chapter" class="btn btn-info">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/pages/storyChapterPageAdd/{id}(id=${chapter.id})}">
            <input type="submit" value="Add Page" class="btn btn-secondary">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/stories/view/{id}(id=${chapter.story.id})}">
            <input type="submit" th:value="${'Back to ' + chapter.story.name}" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-primary">
        </a>
    </span>
    <th:block th:if="${chapter}">
        <form method="post" th:action="@{/chapters/storyChapterView}" id="delete-chapter">
            <input type="hidden" name="chapterId" th:value="${chapter.id}" class="form-control">
            <input type="hidden" id="chapterId" th:value="${chapter.chapterNumber}" class="form-control">
            <input type="hidden" name="storyId" th:value="${chapter.story.id}" class="form-control">
            <p></p>
            <input onclick="deleteChapter()" type="button" value="Delete Chapter" class="btn btn-danger">
        </form>
    </th:block>
</div>

</body>
</html>