<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<header th:replace="fragments :: header"></header>
<h2 th:text="${'Chapter: ' + chapter.chapterNumber}">Default Title</h2>
<p></p>
<div>
    <p th:if="${chapter.name != ''}" th:text="${'Name: ' + chapter.name}"></p>
</div>

<div>
    <p th:text="${'Story: ' + chapter.story.name}"></p>
</div>

<div>
    <a th:href="@{/chapters/storyChapterEdit/{id}(id=${chapter.id})}">
        <input type="submit" value="Edit" class="btn btn-info">
    </a>
</div>
<p></p>

<h3 th:text="${'Pages:'}"></h3>

<div>
    <ul>
        <li th:each="page : ${chapter.pages}">
            <a th:href="@{'/pages/storyChapterPageView/' + ${page.id}}" th:text="${'Page ' + page.pageNumber}"></a>
        </li>
    </ul>
</div>

<div>
    <a th:href="@{/pages/storyChapterPageAdd/{id}(id=${chapter.id})}">
        <input type="submit" value="Add Page" class="btn btn-secondary">
    </a>
</div>
<p></p>

<div>
    <a th:href="@{/stories/view/{id}(id=${chapter.story.id})}">
        <input type="submit" th:value="${'Back to ' + chapter.story.name}" class="btn btn-dark">
    </a>
</div>

<th:block th:if="${chapter}">
    <form method="post" th:action="@{/chapters/storyChapterView}" id="delete-chapter">
        <input type="hidden" name="chapterId" th:value="${chapter.id}" class="form-control">
        <input type="hidden" id="chapterId" th:value="${chapter.name}" class="form-control">
        <input type="hidden" name="storyId" th:value="${chapter.story.id}" class="form-control">
        <p></p>
        <input onclick="deleteChapter()" type="button" value="Delete Chapter" class="btn btn-danger">
    </form>
</th:block>

</body>
</html>