<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h2>Book</h2>

<form method="post" style="max-width:220px;">
    <div class="form-group">
        <label th:for="title">Title</label>
        <input class="form-control" th:field="${book.title}" />
        <span th:errors="${book.title}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="${book.description}" />
        <span th:errors="${book.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Book" />
</form>
<p></p>
<div>
    <a th:href="@{/}">
        <input type="submit" th:value="${'Home'}" class="btn btn-dark">
    </a>
</div>
</body>
</html>