<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h2>Add Book</h2>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Book Name</label>
        <input class="form-control" th:field="${book.name}" />
        <span th:errors="${book.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Book Description</label>
        <input class="form-control" th:field="${book.description}" />
        <span th:errors="${book.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Book" />
</form>
</body>
</html>