<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<header th:replace="fragments :: header"></header>
<h2 th:text="${'Book: ' + book.title}">Default Title</h2>
<p></p>
<div>
    <p th:text="${'Title: ' + book.title}"></p>
    <p th:if="${book.description != ''}" th:text="${'Description: ' + book.description}"></p>
</div>

<div>
    <a th:href="@{/books/edit/{id}(id=${book.id})}">
        <input type="submit" value="Edit" class="btn btn-info">
    </a>
</div>
<p></p>

<h3 th:text="${'Chapters:'}"></h3>
<!--<div>-->
<!--    <ul>-->
<!--        <li th:each="chapter : ${book.chapters}">-->
<!--            <a th:href="@{'/chapters/view/' + ${chapter.id}}" th:text="${chapter.name}"></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--<div>-->
<!--    <a th:href="@{/chapters/add/{id}(id=${chapter.id})}">-->
<!--        <input type="submit" value="Add Chapter" class="btn btn-secondary">-->
<!--    </a>-->
<!--</div>-->
<p></p>

<div>
    <a th:href="@{/}">
        <input type="submit" th:value="${'Back to Variance Home'}" class="btn btn-dark">
    </a>
</div>

<th:block th:if="${book}">
    <form method="post" th:action="@{/books/view}" id="delete-book">
        <input type="hidden" name="bookId" th:value="${book.id}" class="form-control">
        <input type="hidden" id="bookId" th:value="${book.title}" class="form-control">
        <p></p>
        <input onclick="deleteBook()" type="button" value="Delete Book" class="btn btn-danger">
    </form>
</th:block>

</body>
</html>