<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container var-container body-content">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home'}"></a></span>
    <span>/ <a th:href="@{/notebooks/view/{id}(id=${subject.notebook.id})}" th:text="${subject.notebook.title}"></a></span>
    <span th:text="${'/ ' + subject.name}"></span>
</div>

<h3 th:text="${'Subject: ' + subject.name}">Default Title</h3>

<div>
    <h6 th:if="${subject.description != ''}" th:text="${'Description: ' + subject.description}"></h6>
</div>
<div>
    <h5 th:text="${'Notebook: ' + subject.notebook.title}"></h5>
</div>
<p></p>

<h4 th:unless="${subject.pages} and ${subject.pages.size()}" th:text="${'No Pages'}"></h4>
<h4 th:if="${subject.pages} and ${subject.pages.size()}" th:text="${'Pages:'}"></h4>
<div>
    <ul>
        <li th:each="page : ${subject.pages}">
            <a th:href="@{'/pages/nbSubjectPageView/' + ${page.id}}" th:text="${'Page ' + page.pageNumber}"></a>
        </li>
    </ul>
</div>

<div>
    <span class="view-span">
        <a th:href="@{/subjects/edit/{id}(id=${subject.id})}">
        <input type="submit" value="Edit Subject" class="btn btn-info">
    </a>
    </span>
    <span class="view-span">
        <a th:href="@{/pages/nbSubjectPageAdd/{id}(id=${subject.id})}">
            <input type="submit" value="Add Page" class="btn btn-secondary">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/notebooks/view/{id}(id=${subject.notebook.id})}">
            <input type="submit" th:value="${'Back to ' + subject.notebook.title}" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-primary">
        </a>
    </span>
    <th:block th:if="${subject}">
        <form method="post" th:action="@{/subjects/view}" id="delete-subject">
            <input type="hidden" name="subjectId" th:value="${subject.id}" class="form-control">
            <input type="hidden" id="subjectId" th:value="${subject.name}" class="form-control">
            <input type="hidden" name="notebookId" th:value="${subject.notebook.id}" class="form-control">
            <p></p>
            <input onclick="deleteSubject()" type="button" value="Delete Subject" class="btn btn-danger">
        </form>
    </th:block>
</div>

</body>
</html>