<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container var-container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home'}"></a></span>
    <span>/ <a th:href="@{/novels/view/{id}(id=${uneditedStory.novel.id})}" th:text="${uneditedStory.novel.title}"></a></span>
    <span>/ <a th:href="@{/stories/view/{id}(id=${uneditedStory.id})}" th:text="${uneditedStory.name}"></a></span>
    <span th:text="${'/ ' + uneditedStory.name + ' Edit'}"></span>
</div>

<h3>Edit Story</h3>

<th:block th:unless="${story}">
    <p>The story you are trying to edit does not exist</p>
</th:block>
<th:block th:if="${story}">
    <form method="post" th:action="@{/stories/edit}">
        <div class="form-group">
            <label>Name <span th:errors="${story.name}" class="error"></span>
                <input type="text" name="name" class="form-control name-field" th:value="${story.name}" placeholder="required">
            </label>
        </div>
        <input type="hidden" th:value="${storyId}" name="storyId"/>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success">
        </div>
    </form>
</th:block>
<div>
    <span class="view-span">
        <a th:href="@{/stories/view/{id}(id=${uneditedStory.id})}">
            <input type="submit" th:value="${'Back to ' + uneditedStory.name}" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-primary">
        </a>
    </span>
</div>

</body>
</html>