<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<header th:replace="fragments :: header"></header>
<h2 th:text="${'Story: ' + story.name}">Default Title</h2>
<p></p>

<div>
    <p th:text="${'Novel: ' + story.novel.title}"></p>
</div>

<div>
    <a th:href="@{/stories/edit/{id}(id=${story.id})}">
        <input type="submit" value="Edit" class="btn btn-info">
    </a>
</div>
<p></p>

<h3 th:text="${'Chapters:'}"></h3>

<!--<div>-->
<!--    <ul>-->
<!--        <li th:each="chapter : ${story.chapters}">-->
<!--            <a th:href="@{'/chapter/storyChapterView/' + ${chapter.id}}" th:text="${'Chapter ' + chapter.pageNumber}"></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--<div>-->
<!--    <a th:href="@{/chapters/storyChapterAdd/{id}(id=${story.id})}">-->
<!--        <input type="submit" value="Add Chapter" class="btn btn-secondary">-->
<!--    </a>-->
<!--</div>-->
<!--<p></p>-->

<div>
    <a th:href="@{/novels/view/{id}(id=${story.novel.id})}">
        <input type="submit" th:value="${'Back to ' + story.novel.title}" class="btn btn-dark">
    </a>
</div>

<th:block th:if="${story}">
    <form method="post" th:action="@{/stories/view}" id="delete-story">
        <input type="hidden" name="storyId" th:value="${story.id}" class="form-control">
        <input type="hidden" id="storyId" th:value="${story.name}" class="form-control">
        <input type="hidden" name="novelId" th:value="${story.novel.id}" class="form-control">
        <p></p>
        <input onclick="deleteStory()" type="button" value="Delete Story" class="btn btn-danger">
    </form>
</th:block>

</body>
</html>