<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h2>Journal</h2>

<form method="post" style="max-width:220px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${journal.name}" placeholder="required"/>
        <span th:errors="${journal.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="${journal.description}" placeholder="optional"/>
        <span th:errors="${journal.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Journal"/>
</form>
<p></p>
<div>
    <a th:href="@{/}">
        <input type="submit" th:value="${'Home'}" class="btn btn-outline-primary">
    </a>
</div>
</body>
</html>