<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<header th:replace="fragments :: header"></header>
<h2 th:text="${'Name: ' + journal.name}">Default Title</h2>
<p></p>
<div>
    <p th:if="${journal.description != ''}" th:text="${'Description: ' + journal.description}"></p>
</div>

<div>
    <a th:href="@{/journals/edit/{id}(id=${journal.id})}">
        <input type="submit" value="Edit" class="btn btn-info">
    </a>
</div>
<p></p>

<h3 th:text="${'Pages:'}"></h3>
<!--<div>-->
<!--    <ul>-->
<!--        <li th:each="page : ${journal.pages}">-->
<!--            <a th:href="@{'/pages/journalPage/' + ${page.id}}" th:text="${'Page ' + page.pageNumber}"></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--<div>-->
<!--    <a th:href="@{/pages/journalPageAdd/{id}(id=${journal.id})}">-->
<!--        <input type="submit" value="Add Page" class="btn btn-secondary">-->
<!--    </a>-->
<!--</div>-->
<!--<p></p>-->

<div>
    <a th:href="@{/journals}">
        <input type="submit" th:value="${'Back to Journals'}" class="btn btn-dark">
    </a>
</div>

<th:block th:if="${journal}">
    <form method="post" th:action="@{/journals/view}" id="delete-journal">
        <input type="hidden" name="journalId" th:value="${journal.id}" class="form-control">
        <input type="hidden" id="journalId" th:value="${journal.name}" class="form-control">
        <p></p>
        <input onclick="deleteJournal()" type="button" value="Delete Journal" class="btn btn-danger">
    </form>
</th:block>

</body>
</html>