<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<header th:replace="fragments :: header"></header>
<h2 th:text="${'Page: ' + page.pageNumber}">Default Title</h2>
<p></p>
<div>
    <p th:text="${'Chapter: ' + page.chapter.chapterNumber}"></p>
    <p th:text="${'Book: ' + page.chapter.book.title}"></p>
    <p style="text-decoration: underline" th:text="${'Content:'}"></p>
    <p style="white-space: break-spaces" th:text="${page.content}"></p>
    <hr>
</div>
<div>
    <a th:href="@{/pages/bookChapterPageEdit/{id}(id=${page.id})}">
        <input type="submit" value="Edit" class="btn btn-info">
    </a>
</div>
<p></p>

<div>
    <a th:href="@{/chapters/bookChapterView/{id}(id=${page.chapter.id})}">
        <input type="submit" th:value="${'Back to Chapter ' + page.chapter.chapterNumber}" class="btn btn-dark">
    </a>
</div>

<th:block th:if="${page}">
    <form method="post" th:action="@{/pages/bookChapterPageView}" id="delete-page">
        <input type="hidden" name="pageId" th:value="${page.id}" class="form-control">
        <input type="hidden" id="pageId" th:value="${page.pageNumber}" class="form-control">
        <input type="hidden" name="chapterId" th:value="${page.chapter.id}" class="form-control">
        <p></p>
        <input onclick="deletePage()" type="button" value="Delete Page" class="btn btn-danger">
    </form>
</th:block>

</body>
</html>