<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container var-container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home'}"></a></span>
    <span>/ <a th:href="@{/books/view/{id}(id=${uneditedPage.chapter.book.id})}" th:text="${uneditedPage.chapter.book.title}"></a></span>
    <span>/ <a th:href="@{/chapters/bookChapterView/{id}(id=${uneditedPage.chapter.id})}" th:text="${'Chapter ' + uneditedPage.chapter.chapterNumber}"></a></span>
    <span>/ <a th:href="@{/pages/bookChapterPageView/{id}(id=${uneditedPage.id})}" th:text="${'Page ' + uneditedPage.pageNumber}"></a></span>
    <span th:text="${'/ Page ' + uneditedPage.pageNumber + ' Edit'}"></span>
</div>

<h3>Edit Page</h3>

<th:block th:unless="${page}">
    <p>The page you are trying to edit does not exist</p>
</th:block>
<th:block th:if="${page}">
    <form method="post" th:action="@{/pages/bookChapterPageEdit}">
        <div class="form-group">
            <label class="page-number">Page Number <span th:errors="${page.pageNumber}" class="error"></span>
                <input type="number" name="pageNumber" class="form-control number-field" th:value="${page.pageNumber}" placeholder="0" min="0">
            </label>
        </div>
        <div class="form-group textarea">
            <label>Page Content <span th:errors="${page.content}" class="error"></span>
                <textarea onkeyup="countBCPChars(this);" maxlength="2400" data-limit-rows="true" class="form-control text" name="content" th:field="${page.content}" rows="30" cols="75" wrap="hard" placeholder="required"></textarea>
            </label>
            <p id="bcp-charNum">2400 characters allowed</p>
        </div>
        <input type="hidden" th:value="${pageId}" name="pageId"/>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success">
        </div>
    </form>
</th:block>
<div>
    <span class="view-span">
        <a th:href="@{/pages/bookChapterPageView/{id}(id=${uneditedPage.id})}">
            <input type="submit" th:value="${'Back to Page ' + uneditedPage.pageNumber}" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-primary">
        </a>
    </span>
</div>

</body>
</html>