<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h2 th:text="${'Add Page To: ' + journal.name}">Add Page</h2>

<form method="post" style="max-width:220px;">
    <div class="form-group">
        <label th:for="pageNumber">Page Number</label>
        <input type="number" class="form-control" th:field="${page.pageNumber}" placeholder="0" min="0"/>
        <span th:errors="${page.pageNumber}" class="error"></span>
    </div>
    <div class="form-group textarea">
        <label th:for="content">Page Content</label>
        <textarea data-limit-rows="true" class="form-control" name="content" th:field="${page.content}" rows="24" wrap="hard" maxlength="3000" placeholder="required"></textarea>
        <span th:errors="${page.content}" class="error"></span>
    </div>
    <input type="submit" id="submit-code" value="Add Page"/>
</form>
<p></p>
<div>
    <span class="view-span">
        <a th:href="@{/journals/view/{id}(id=${journal.id})}">
            <input type="submit" th:value="${'Back to ' + journal.name}" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-outline-primary">
        </a>
    </span>
</div>
</body>
</html>