<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container var-container body-content">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home'}"></a></span>
    <span>/ <a th:href="@{/journals/view/{id}(id=${page.journal.id})}" th:text="${page.journal.name}"></a></span>
    <span th:text="${'/ Page ' + page.pageNumber}"></span>
</div>

<h3 th:text="${'Page ' + page.pageNumber}">Default Title</h3>

<div>
    <h5 th:text="${'Journal: ' + page.journal.name}"></h5>
    <h6 style="text-decoration: underline" th:text="${'Content:'}"></h6>
    <textarea readonly class="page-content text" style="white-space: break-spaces" th:text="${page.content}" rows="30" cols="80"></textarea>
    <hr>
</div>

<div>
    <span class="view-span">
        <a th:href="@{/pages/journalPageEdit/{id}(id=${page.id})}">
            <input type="submit" value="Edit Page" class="btn btn-info">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/journals/view/{id}(id=${page.journal.id})}">
            <input type="submit" th:value="${'Back to ' + page.journal.name}" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-primary">
        </a>
    </span>
    <th:block th:if="${page}">
        <form method="post" th:action="@{/pages/journalPageView}" id="delete-page">
            <input type="hidden" name="pageId" th:value="${page.id}" class="form-control">
            <input type="hidden" id="pageId" th:value="${page.pageNumber}" class="form-control">
            <input type="hidden" name="journalId" th:value="${page.journal.id}" class="form-control">
            <p></p>
            <input onclick="deletePage()" type="button" value="Delete Page" class="btn btn-danger">
        </form>
    </th:block>
</div>

</body>
</html>