<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<header th:replace="fragments :: header"></header>
<h2 th:text="${'Page: ' + page.pageNumber}">Default Title</h2>
<p></p>
<div>
    <h5 th:text="${'Subject: ' + page.subject.name}"></h5>
    <h4 th:text="${'Notebook: ' + page.subject.notebook.title}"></h4>
    <h6 style="text-decoration: underline" th:text="${'Content:'}"></h6>
    <p style="white-space: break-spaces" th:text="${page.content}"></p>
    <hr>
</div>

<div>
    <span class="view-span">
        <a th:href="@{/pages/nbSubjectPageEdit/{id}(id=${page.id})}">
            <input type="submit" value="Edit Page" class="btn btn-info">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/subjects/view/{id}(id=${page.subject.id})}">
            <input type="submit" th:value="${'Back to ' + page.subject.name}" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-outline-primary">
        </a>
    </span>
    <th:block th:if="${page}">
        <form method="post" th:action="@{/pages/nbSubjectPageView}" id="delete-page">
            <input type="hidden" name="pageId" th:value="${page.id}" class="form-control">
            <input type="hidden" id="pageId" th:value="${page.pageNumber}" class="form-control">
            <input type="hidden" name="subjectId" th:value="${page.subject.id}" class="form-control">
            <p></p>
            <input onclick="deletePage()" type="button" value="Delete Page" class="btn btn-danger">
        </form>
    </th:block>
</div>

</body>
</html>