.error {
    color: red;
}

.variance-nav {
    background-color: #000000;
}

.nav-item a {
    color: #c8c8c8 !important;
}

.nav-item a:hover {
    color: #f0e68c !important;
}

header {
    margin-bottom: 20px;
}

.home-div {
    margin-top: 20px;
}

.home-span {
    margin-right: 20px;
}

.home-span a:hover {
    text-decoration: none;
}

.view-span {
    margin-right: 10px;
}

.view-span a:hover {
    text-decoration: none;
}

.log-register {
    margin-top: 5px;
}

textarea {
    resize: none;
}

.textarea {
    width: 600px;
}

@media (max-width: 576px) {
    .textarea {
        width: 450px;
    }
}

.page-number {
    margin-bottom: 0;
}

.chapter-number {
    margin-bottom: 0;
}