body, html {
    background-color: #8a8a8a;
    height: 100%;
}

.var-container {
    background-color: #f0f8ff;
    padding-bottom: 20px;
    text-align: center;
    border-right: 4px solid #757575;
    border-left: 4px solid #757575;
}

@media (max-width: 1000px) {
    .var-container {
        height: auto;
    }
}

.variance-nav {
    background-color: #265999;
}

.nav-item a {
    color: #d3d3d3 !important;
}

.nav-item a:hover {
    color: #f4f2c9 !important;
}

.var-nav {
    margin: 0 auto;
    padding-right: 80px;
}

@media (max-width: 1000px) {
    .var-nav {
        text-align: left;
    }
}

.breadcrumbs {
    background: #282828;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    text-align: left;
}

.breadcrumbs span {
    color: #D5AD36;
}

.breadcrumbs a {
    color: #d3d3d3;
}

.breadcrumbs a:hover {
    color: #f4f2c9;
    text-decoration: none;
}

a {
    color: #CA9703;
}

a:hover {
    color: #757575;
}

.home-div {
    margin-top: 30px;
}

.home-span {
    margin-right: 10px;
    margin-left: 10px;
}

.home-span a:hover {
    text-decoration: none;
}

.view-span {
    margin-right: 5px;
    margin-left: 5px;
}

.view-span a:hover {
    text-decoration: none;
}

.log-register {
    margin-top: 10px;
}

ul {
    list-style: none;
    margin-right: 40px;
}

.number-field {
    width: 60px;
    margin: auto;
}

.name-field {
    width: 200px;
    margin: auto;
}

.description-field {
    width: 250px;
    margin: auto;
}

textarea {
    resize: none;
    overflow: hidden;
}

.text {
    font-size: 12px;
}

.journal-text {
    font-size: 14px;
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 20px, #ccc 20px, #ccc 21px, white 21px);
    line-height: 21px;
    padding: 4px 10px;
}

.journal-page-content {
    font-size: 12px;
    background-attachment: local;
    background-image:
        linear-gradient(to right, #f4f4f4 10px, transparent 10px),
        linear-gradient(to left, #f4f4f4 10px, transparent 10px),
        repeating-linear-gradient(#f4f4f4, #f4f4f4 20px, #9e9e9e 20px, #9e9e9e 21px, #f4f4f4 21px);
    line-height: 21px;
    padding: 4px 10px;
}

.nb-text {
    font-size: 14px;
    background-attachment: local;
    background-image:
        linear-gradient(to bottom, white 60px, transparent 10px),
        repeating-linear-gradient(white, white 20px, #ccc 20px, #ccc 21px, white 21px);
    line-height: 21px;
    padding: 45px 5px 0;
}

.nb-page-content {
    font-size: 14px;
    background-attachment: local;
    background-image:
        linear-gradient(to bottom, #f4f4f4 60px, transparent 10px),
        repeating-linear-gradient(#f4f4f4, #f4f4f4 20px, #9e9e9e 20px, #9e9e9e 21px, #f4f4f4 21px);
    line-height: 21px;
    padding: 45px 5px 0;
}

.page-content {
    background-color: #f4f4f4;
}

hr {
    width: 75%;
    margin-top: 5px;
}

.page-number {
    margin-bottom: 0;
}

.chapter-number {
    margin-bottom: 0;
}

.error {
    color: red;
}