body, html {
    background-color: #8a8a8a;
    height: 100%;
}

.var-container {
    background-color: #f0f8ff;
    padding-bottom: 20px;
    text-align: center;
}

@media (max-width: 1000px) {
    .var-container {
        height: auto;
    }
}

.variance-nav {
    background-color: #265999;
}

.nav-item a {
    color: #d3d3d3 !important;
}

.nav-item a:hover {
    color: #f4f2c9 !important;
}

.var-nav {
    margin: 0 auto;
    padding-right: 80px;
}

@media (max-width: 1000px) {
    .var-nav {
        text-align: left;
    }
}

.breadcrumbs {
    background: #282828;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    text-align: left;
}

.breadcrumbs span {
    color: #D5AD36;
}

.breadcrumbs a {
    color: #d3d3d3;
}

.breadcrumbs a:hover {
    color: #f4f2c9;
    text-decoration: none;
}

a {
    color: #CA9703;
}

a:hover {
    color: #757575;
}

.home-div {
    margin-top: 30px;
}

.home-span {
    margin-right: 10px;
    margin-left: 10px;
}

.home-span a:hover {
    text-decoration: none;
}

.view-span {
    margin-right: 5px;
    margin-left: 5px;
}

.view-span a:hover {
    text-decoration: none;
}

.log-register {
    margin-top: 10px;
}

ul {
    list-style: none;
    margin-right: 40px;
}

textarea {
    resize: none;
}

.page-content {
    background-color: #f4f4f4;
}

hr {
    width: 75%;
}

.page-number {
    margin-bottom: 0;
}

.chapter-number {
    margin-bottom: 0;
}

.error {
    color: red;
}