<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home'}"></a></span>
    <span>/ <a th:href="@{/notebooks/view/{id}(id=${uneditedNotebook.id})}" th:text="${uneditedNotebook.title}"></a></span>
    <span th:text="${'/ ' + uneditedNotebook.title + ' Edit'}"></span>
</div>
<div class="var-container">
<h2>Edit Notebook</h2>

<th:block th:unless="${notebook}">
    <p>The notebook you are trying to edit does not exist</p>
</th:block>
<th:block th:if="${notebook}">
    <form method="post" th:action="@{/notebooks/edit}">
        <div class="form-group">
            <label>Title
                <input type="text" name="title" class="form-control" th:value="${notebook.title}" placeholder="required">
            </label>
            <p th:errors="${notebook.title}" class="error"></p>
        </div>
        <div class="form-group">
            <label>Description
                <input type="text" name="description" class="form-control" th:value="${notebook.description}" placeholder="optional">
            </label>
            <p th:errors="${notebook.description}" class="error"></p>
        </div>
        <input type="hidden" th:value="${notebookId}" name="notebookId"/>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success">
        </div>
    </form>
</th:block>
<div>
    <span class="view-span">
        <a th:href="@{/notebooks/view/{id}(id=${uneditedNotebook.id})}">
            <input type="submit" value="Back" class="btn btn-dark">
        </a>
    </span>
    <span class="view-span">
        <a th:href="@{/}">
            <input type="submit" th:value="${'Home'}" class="btn btn-primary">
        </a>
    </span>
</div>
</div>
</body>
</html>